{% extends 'base.html' %}

{% load i18n %}

{% block body %}

    {% if validlink %}

        <h1>{% translate 'Задайте новый пароль' %}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="{% translate 'Сменить пароль' %}">
        </form>

    {% else %}
        <div class="alert alert-danger" role="alert">
            {% translate 'Неверная ссылка для сброса пароля. Возможно, ссылка уже была использована ранее. Пожалуйста, пройдите процедуру повторного сброса пароля.' %}
        </div>

    {% endif %}
{% endblock %}