<!doctype html>
<html lang="ru">
    <head>
        {% load static %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="My Smart News - новости, которые выбираете Вы!" />
        <meta name="description" content="My Smart News - новости, которые выбираете Вы!">

        {% block title %}
            <title>My Smart News - новости, которые выбираете Вы!</title>
        {% endblock %}

        <link rel="stylesheet" href="{% static 'public_site/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'public_site/css/custom.css' %}">
    </head>
<body>
    <div class="container">
        {% if user.is_authenticated %}
            {% include 'nav.html' %}
        {% endif %}

        {% comment %}
            {% set flash_messages = get_flashed_messages() %}
            {% if flash_messages %}
                    {% for message in flash_messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
            {% endif %}
        {% endcomment %}

        <div>
            <div class="main-content-wrapper">
                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        window.manageSourceURL = '{% url 'manage-resources' %}';
    </script>
    <script src="{% static 'public_site/js/jq.js' %}"></script>
    <script src="{% static 'public_site/js/bootstrap.min.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>