{% extends 'base.html' %}

{% load i18n %}
{% load extra_tags %}

{% block title %}
    <title>{% translate 'Управление новостными ресурсами' %}</title>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">
                <p>{% translate 'Голубым отображаются не выбранные источники, зелёным - те, что уже включены в Ваш новостной фид. Просто дважды кликните мышкой по интересующему Вас ресурсу для добавления в фид или удаления из него.' %}</p>
                <p>{% translate 'Вы можете задать приоритет вывода новостей в ленте. Приоритет ресурса увеличивается слева-направо сверху-вниз. Чтобы изменить приоритет источника, просто перетащите его в нужное место списка.' %}</p>
            </div>

            <div class="card-deck mt-5" id="sortable">
                {% for source in user_sources %}
                    <div class="card text-white mb-3 source-card bg-success"
                         style="max-width: 18rem;"
                         data-id="{{ source.id }}"
                         data-status_action="disable"
                         data-sort="{{ source.source_order }}"
                    >
                      <div class="card-header">
                          {% for category in source.categories.all %}
                              {{ category.name }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">{{ source.name }}</h5>
                        <p class="card-text">{{ source.description }}</p>
                      </div>
                    </div>
                {% endfor %}

                {% for source in all_sources %}
                    {% if source.id not in user.sources.all|get_value_in_qs:'source__id' %}
                        <div class="card text-white mb-3 source-card bg-info"
                             style="max-width: 18rem;"
                             data-id="{{ source.id }}"
                             data-status_action="enable"
                             data-sort=""
                        >
                          <div class="card-header">
                              {% for category in source.categories.all %}
                                  {{ category.name }}{% if not forloop.last %}, {% endif %}
                              {% endfor %}
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">{{ source.name }}</h5>
                            <p class="card-text">{{ source.description }}</p>
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function updateUserSources() {
            var source_order = 10, card_container = $("#sortable");
            card_container.find(".source-card").each(function(i){
                var card = $(this);
                if (card.data("status_action") === "disable") {// the source is enabled
                    card.data("sort", source_order);
                    $.ajax({
                        url: window.manageSourceURL,
                        data: "source="+card.data("id")+"&status=enable&source_order="+source_order,
                        type: 'POST',
                        beforeSend: function(xhr){
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        },
                        success: function(data) {
                            //
                        },
                        failure: function(data) {
                            alert('Что-то пошло не так! Повторите попытку.');
                        }
                    });
                    source_order += 10;
                }
            });
        }

        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        $("document").ready(function(e){
            $("#sortable").sortable({ // User change it's source position (order)
                update: function( event, ui ) {
                    updateUserSources();
                },
            });
            $("#sortable").disableSelection();

            $(".source-card").on("dblclick", function(e){ // user enable/disable the source
                var card = $(this);
                if (card.data("status_action") === "enable") {
                    // Successfully add sourced to user news feed
                    card.data("status_action", "disable");
                    card.removeClass("bg-info").addClass("bg-success");
                    updateUserSources();
                } else {
                    card.data("status_action", "enable");
                    card.removeClass("bg-success").addClass("bg-info");

                    $.ajax({
                        url: window.manageSourceURL,
                        data: "source="+card.data("id")+"&status=disable",
                        type: 'POST',
                        beforeSend: function(xhr){
                            xhr.setRequestHeader('X-CSRFToken', csrftoken);
                        },
                        success: function(data) {
                            //
                        },
                        failure: function(data) {
                            alert('Что-то пошло не так! Повторите попытку.');
                        }
                    });
                }

            });
        });
    </script>
{% endblock %}